.body {
  background-color: #fff;
  margin-top: -20px;
  border-radius: 6px;
  padding: 15px;
}

.body__up {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.body hr {
  background-color: #5EB63A;
}

.body .number {
  width: 30px;
}

.body .coin {
  width: 150px;
}

.body .price {
  width: 120px;
}

.body .vol {
  width: 120px;
}

.body .chart {
  width: 150px;
}

.body .chg {
  width: 80px;
}
